<mat-sidenav-container class="container">
  <!-- Sidebar -->
  <mat-sidenav
    #drawer
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="!isMobile"
    class="sidenav"
  >
    <div class="logo"><span>📒</span> Bill Manager</div>

    <nav>
      <a routerLink="/app/dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="/app/billing" routerLinkActive="active">Create Bill</a>
      <a routerLink="/app/sell-orders" routerLinkActive="active">Sell Orders</a>
      <a routerLink="/app/purchase-orders" routerLinkActive="active"
        >Purchase Orders</a
      >
      <a routerLink="/app/stock-book" routerLinkActive="active">Stock Book</a>
      <a routerLink="/app/account-book" routerLinkActive="active"
        >Account Book</a
      >
      <a routerLink="/app/lending-book" routerLinkActive="active"
        >Lending Book</a
      >
      <a routerLink="/app/other-expenses" routerLinkActive="active"
        >Other Expenses</a
      >
    </nav>
  </mat-sidenav>

  <!-- Main -->
  <mat-sidenav-content>
    <!-- Top bar -->
    <mat-toolbar class="topbar">
      <button
        mat-icon-button
        class="menu-btn"
        (click)="drawer.toggle()"
        *ngIf="isMobile"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <span class="title">Billing App</span>
    </mat-toolbar>

    <!-- Page content -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
