<mat-sidenav-container class="container">

  <!-- Right sidenav -->
  <mat-sidenav
    #sidenav
    position="end"
    mode="over"
    class="sidenav">

    <div class="sidebar-header">Bill Manager</div>

    <nav class="nav-links">
      <a mat-button routerLink="/app/billing" (click)="close()" >Create Bill</a>
      <a mat-button routerLink="/app/dashboard" (click)="close()">Dashboard</a>
      <a mat-button routerLink="/app/sell-orders" (click)="close()">Sell Orders</a>
      <a mat-button routerLink="/app/purchase-orders" (click)="close()">Purchase Orders</a>
      <a mat-button routerLink="/app/stock-book" (click)="close()">Stock Book</a>
      <a mat-button routerLink="/app/account-book" (click)="close()">Account Book</a>
      <a mat-button routerLink="/app/lending-book" (click)="close()">Lending Book</a>
      <a mat-button routerLink="/app/other-expenses" (click)="close()">Other Expenses</a>
    </nav>

  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>

    <!-- Top toolbar -->
    <mat-toolbar color="primary" class="toolbar">
      <span class="app-title">Bill Management</span>

      <span class="spacer"></span>

      <!-- Hamburger on RIGHT -->
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <div class="page">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
